// .wrapper_example {
//   display: flex;
//   h1 {
//     font-size: rem(20)
//   }
// }

// #main {
//   background-image: url('/assets/img/dogsad.jpg');
//   width: 100%;
// }

.contener{
  font-family: $mainFont;
  width: 100%;
  border:  solid 1px black;
  margin: 0 0 50px 0;
}

